.service_section {
    text-align: center;
    color: #f9fcfb;
    background-image: url(/images/Formas-web-_2_.png);
    background-size: 100% 100%;
    padding-top: 275px;
    padding-bottom: 125px;
    background-repeat: no-repeat;
    margin-top: -150px;
  }